/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #007BFF;
    color: #fff;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #0056b3;
}

.settings-container,
.todo-container {
    width: 80%;
    margin: 20px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #888;
}
